<!DOCTYPE html>{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Инфляция в России</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    {% block content %}
      <div class="row">
        <h1 class="col s12">Инфляция в России</h1>
        <div class="col s12 m8">
          <table class="u-full-width">
            <thead>
              <tr>
                {% for title in titles %}
                  <th> {{ title }} </th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
            {% for row in data %}
              <tr>
                <td> {{ row.year }} </td>
                {% for value in row.months %}
                  {% if value == '' %}
                    <td>-</td>
                  {% elif value < 0 %}
                    <td style="background-color: green"> {{ value }} </td>
                  {% elif value > 1 and value <= 2 %}
                    <td style="background-color: rgb(255,192,203)"> {{ value }} </td>
                  {% elif value > 2 and value <= 5 %}
                    <td style="background-color: rgb(255,128,128)"> {{ value }} </td>
                  {% elif value > 5 %}
                    <td style="background-color: red"> {{ value }} </td>
                  {% else %}
                    <td> {{ value }} </td>
                  {% endif %}
                {% endfor %}
                <td style="background-color: grey"> {{ row.summary }} </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

        </div>
      </div>
    {% endblock %}

  </body>
</html>